.DS_Store
Thumbs.db
*.swp
*.log
.env
.idea/
.vscode/
uploads/gallery/*
!uploads/gallery/.gitkeep
uploads/lieux/*
!uploads/lieux/.gitkeep
uploads/ambiance/*
!uploads/ambiance/.gitkeep
uploads/hebergements/*
!uploads/hebergements/.gitkeep
